<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Da it da 2024</p><br>
            <div class="company-info">
                <div class="company-detail-info" style="width: 648px; float:left;">
                    <span class="text-company-info-title" style="color: white; font-size: 17px; font-weight: bold;"> 주식회사 Da it da </span>
                    <p class="m-0 text-white">
                        Shop 대표이사 : 홍길동<br>
                        사업자등록번호 : 123-45-67890 | 통신판매업 신고 : 2024-인천-0115<br>
                        사업장주소 : 인천광역시 부평구 경원대로 1366(부평동)
                        <span>
                          <a class="btn-map" type="button" href="../map"
                             style="background-color:gray; color:white; font-weight:bold; font-size:13px; border-radius:20px; width: 80px; text-align:center;">오시는 길</a>
                    </span>
                    </p>
                </div>
                <div class="cscenter-info">
                    <span class="text-company-info-title" style="color: white; font-size: 17px; font-weight: bold;"> 고객센터 </span>
                    <p class="m-0 text-white">
                        사업장주소 : 인천광역시 부평구 경원대로 1366(부평동)  <a class="btn-map" type="button" href="../map"
                                                             style="background-color:gray; color:white; font-weight:bold; font-size:13px; border-radius:20px; width: 80px; text-align:center;">오시는 길</a> <br>
                        대표번호 : 1522-0000 | 고객상담 : 1522-0001<br>
                        Fax : 032-123-4567 | Mail : Shop@naverdaum.co.kr
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>